body {
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}

main {
  background-color: #fff;
}

.title {
  font-size: 48px;
  line-height: 56px;
  color: rgba(5, 0, 56, 1);
}

.p {
  display: block;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
  color: rgba(5, 0, 56, 0.6);
}
.link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0em;
}