body {
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}

.list-before li {
  list-style: none;
}

.list-before li::before {
  content: url(./Frame.svg);
}

.list-marker li {
  list-style: none;
}

.list-marker li::marker {
  content: url(./Frame.svg);
}